.navBar {
	display: flex;
	justify-content: center;
	text-decoration: none;
	list-style: none;
	li {
		a {
			.navBar {
				li {
					&:hover {
						cursor: pointer;
						transform: scale(1.15);
					}
				}
			}
		}
	}
}